<div style="text-align: center;">
  <div class="section"></div>
  <div class="section"></div>
  <div class="container">
    <div class="z-depth-2 grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <form class="col s12" method="POST" autocomplete="off">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='text' name='first_name' id='first_name' required="required" />
            <label for='first_name'>First Name</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='text' name='last_name' id='last_name' required="required" />
            <label for='last_name'>Last Name</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='text' name='location' id='location' required="required" />
            <label for='location'>Location</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input type="number" name="age" id="age" required="required" />
            <label for='age'>Age</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='email' name='email' id='email' required="required" />
            <label for='email'>Email</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='password' name='password' id='password' required="required"/>
            <label for='password'>Password</label>
          </div>
        </div>
        <br/>
        <div style="text-align: center;">
          <div class='row'>
            <button type='submit' id='btn_login' name='btn_login' class='col s12 btn btn-large waves-effect colour-pink'>Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <a href="sign_up.html">Create an account</a> -->
  <button id='btn_sign_up' onclick="location.href='login.html';" name='btn_sign_up' class='btn btn-large waves-effect colour-pink'>Login</button>
</div>

<script>
  $(document).ready(function(e){
      $("#search-icon").click(function(e){
        $("#navbar").slideUp();
        $("#navbar").hide();
        $("#searchbar").fadeIn();
        $("#search-txt").focus();
      });
      $("#close-icon").click(function(e){
          $("#searchbar").hide();
          $("#navbar").slideDown();
      });
      $(document).on('click', function (e) {
      if ($(e.target).closest(".nav-wrapper").length === 0) {
        $("#searchbar").hide();
        $("#navbar").slideDown();
      }
  });
  });
  </script>
  
   <script>
   $( document ).ready($('.button-collapse').sideNav({
         menuWidth: 300, 
         edge: 'left', 
         closeOnClick: false, 
         draggable: true 
       }));
   </script>
  
  <script>
  $('.dropdown-button').dropdown({
       inDuration:200,
       outDuration: 200,
       constrainWidth: false, 
       hover: false, 
       gutter: 0, 
       belowOrigin: true, 
       alignment: 'left',
       stopPropagation: false 
     }
   );
         
  </script>
  