apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: angular
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: angular
    spec:
      containers:
        - name: angular
          image: angular:latest
          imagePullPolicy: Never
---
apiVersion: v1
kind: Service
metadata:
  name: angular
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: angular