<header>
  <ul id="slide-out" class="side-nav fixed">
      <div class="center-align"><img id="logo" class="center-align" src="http://mea-moo.mybluemix.net/static/images/ibm.png"></div>

      <li><a routerLink="/history" class="waves-effect waves-red white-text "><i class="material-icons white-text">dashboard</i>Dashboard</a></li>
      <li><a routerLink="/home" class="waves-effect waves-red white-text active colour-pink"><i class="material-icons white-text">flight</i>Browse Flights</a></li>
      <li ><a class="waves-effect waves-red white-text" routerLink="/login"><i class="material-icons white-text">exit_to_app</i>Logout</a></li>
  </ul>
</header>
<div class="navbar-fixed">
  <nav class="colour-pink nav-extended">
    <div class="nav-wrapper">
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a class="black-text waves-effect waves-red" >Settings</a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="black-text waves-effect waves-red" routerLink="/login">
            <i class="right material-icons">exit_to_app</i>Logout</a>
        </li>
      </ul>
      <div id="navbar">
        <ul class="right hide-on-large-only">
          <li>
            <a  data-activates="slide-out" class="button-collapse waves-effect waves-red" style="margin:0;">
              <i class="material-icons">menu</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button waves-effect waves-red" data-gutter="5" data-constrainwidth="false" data-beloworigin="false"
              data-hover="false" data-activates="dropdown1">
              <i id="usericon" class="material-icons">more_vert</i>
            </a>
          </li>
        </ul>

        <!-- IBM Logo -->
        <a class="brand-logo left hide-on-large-only">
          <img id="logo1" src="http://mea-moo.mybluemix.net/static/images/ibm.png" style="width:3em;">
        </a>

        <!-- Logout dropdown -->
        <ul id='logout_dropdown' class='collection dropdown-content z-depth-5' style="min-width:420px">
          <div class="row valign-wrapper hide-on-med-and-down" style="margin-top:1.5em;margin-bottom:-.4em;">
            <div class="container">
              <img class="circle" src="https://raw.githubusercontent.com/arjuntherajeev/arjuntherajeev.github.io/master/src/user-icon.png"
                style="width:8em;margin-left:1em;">
              <a >
                <div class="circle overlay">
                  <div class="text center" style="margin-top:-0.2em;">
                    <i class="material-icons" style="font-size:1.5em;">add_a_photo</i>
                    <h6 style="margin-top:-1em;">Change Picture</h6>
                  </div>
                </div>
              </a>
            </div>
            <div class="col l7  m7 black-text" style="margin-top:-1em;">
              <h6 style="font-size:1.5em;">Muhammed Fawaz</h6>
              <h6 class="red-text text-darken-4" style="font-weight:400;font-size:1em;">User</h6>
              <div class="col l6">
                <a class="blue-text text-darken-4" style="font-size:0.8em;margin-left:-2em;">
                  <i class="material-icons left tiny" style="margin-right:.2em;">help</i>Help</a>
              </div>
              <div class="col l3">
                <a class="waves-effect waves-light black btn" routerLink="/login" style="font-size:0.8em;margin-left:-2.5em;">Logout</a>
              </div>
            </div>
            </div>
        </ul>

        <ul class="right hide-on-med-and-down valign-wrapper">
          <li>
            <a class=" waves-effect waves-light dropdown-button center" routerLink="/login" data-activates='logout_dropdown'
              data-gutter="4" alignment='right'>
              <img src="https://raw.githubusercontent.com/arjuntherajeev/arjuntherajeev.github.io/master/src/user-icon.png"
                style="width:2em;position:inherit;margin-bottom:1.25em;margin-top:1em;margin-left:0.1em;" class="circle valign">
            </a>
          </li>
        </ul>

        <ul class="tabs tabs-transparent hide-on-large-only" id="mob-tabs">
          <li class="tab">
            <a class="active waves-effect waves-red" routerLink="/history">
              <i class="material-icons">dashboard</i>
            </a>
          </li>
          <li class="tab">
            <a class="waves-effect waves-red" routerLink="/home">
              <i class="material-icons">flight</i>
            </a>
          </li>
        </ul>

        </div>
      </div>
  </nav>
  </div>

  <div class="content scroll">
    <div class="scroll-content" style="padding: 20px;">
      <h3>Browse flight information</h3>
      <hr/>
      <br/>
      <!-- START FILTER SEARCH -->
      <div class="row">
        <form class="col s12" method="POST">
          <div class="row">
            <div class="input-field col s4">
              <input id="source" name="source" type="text" />
              <label for="source">Source</label>
            </div>
            <div class="input-field col s4">
              <input id="destination" name="destination" type="text" />
              <label for="destination">Destination</label>
            </div>
            <div class="input-field col s4">
              <input placeholder="Date" id="date" name="date" type="date" />
            </div>
            <div class="col s12" style="text-align: center;">
              <div class='row'>
                <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Search Flights</button>
                &nbsp;
                <a class="style btn btn-large waves-effect colour-pink" onclick="document.getElementById('my_table').innerHTML='';">Clear</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- END FILTER SEARCH -->

      <!-- TABLE TO POPULATE WITH FLIGHT DATA :) -->
      <table id="my_table" class="striped responsive-table centered">
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Tail Number</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>335</td>
            <td>N712SW</td>
            <td>2003</td>
            <td>2211</td>
            <td>
              <button onclick="Materialize.toast('Booking...', 4000); this.disabled='disabled'; this.style='background: grey;'" type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button onclick="Materialize.toast('Booking...', 4000); this.disabled='disabled'; this.style='background: grey;'" type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button onclick="Materialize.toast('Booking...', 4000); this.disabled='disabled'; this.style='background: grey;'" type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1002</td>
            <td>
              <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
          <tr>
            <td>3231</td>
            <td>N772SW</td>
            <td>754</td>
            <td>1023</td>
            <td>
              <button type='submit' id='btn_search' name='btn_login' class='btn btn-large waves-effect colour-pink'>Book</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
    </div>
  </div>