.colour-pink { 
  background: #C70C2E;
}

#slide-out{
  background-color: black;
}
body{
  overflow: hidden;
}

#logo{
  width: 18em;
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: 1em;
}
#logo1{
    margin-top: .3em;
    margin-left: .1em;
}
#mob-tabs{
  font-weight: 300;
}
#search-txt{
  font-size: 1em;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}
#searchbar{
  width: 100%;
  height: 64px;
}
.nav-wrapper{
  height: 600px;
}
input[type="search"] {
  height: 64px !important; /* or height of nav */
}

.content{
  padding-left: 300px;
  margin-top: 0px;
}
@media only screen and (max-width : 992px) {
     .content{
       padding-left: 0;
       margin-top: 48px;
     }
     .dropdown-content{
       border-radius: 3px;
     }
   }
header ul li:hover{
  background-color: #212121;
  color: black;
}

@media ( min-width: 992px){
.dropdown-content{
  margin: 20px 0px 0px 0px;
  overflow:inherit !important;
  min-width: 500px;
  margin-top: 65px;
  border-radius: 3px;
}


.dropdown-content:before{
    content: '';
    width: 0;
    height: 0;
    right: 16.5px;
    margin-top: -9.5px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
input[type="search"]::-webkit-input-placeholder {
color: #e0e0e0 !important;
opacity: .6;
}

input[type="search"]:-moz-placeholder { /* Firefox 18- */
color:#e0e0e0 !important;
}

input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
color: #e0e0e0 !important;
}

input[type="search"]:-ms-input-placeholder {
color: #e0e0e0 !important;
}
#logout_dropdown a:hover{
 background-color:rgba(0,0,0,0);
}
.container {
  position: relative;
  width: 8em;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  right: 0;
  height: 8em;
  width: 8em;
  opacity: 0;
  transition: .5s ease;
  background-color: #9e9e9e ;
}

.container:hover .overlay {
  opacity: .6;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}