@media ( min-width: 992px){

  .scroll{
    overflow-y:auto;
     height:100%;
     position:absolute;
     visibility: hidden;
  }
  .scroll-content,
  .scroll:hover {
    visibility: visible;
  }

  ::-webkit-scrollbar-track
  {
  	background-color: #F5F5F5;
  }

  ::-webkit-scrollbar
  {
  	width: 8px;
  	background-color: #4a148c;

  }

  ::-webkit-scrollbar-thumb
  {
  	background-color: #9e9e9e;
    opacity: 0;
  }
}