page-offers {
    .masters {
        background-color: #F7F7F7;
      }
      .toolbar-background {
        background-color: #F7F7F7;
      }
      .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
}
